must-have-machine-learning-deep-learning/data/porto-seguro-safe-driver-prediction/*.csv
must-have-machine-learning-deep-learning/data/competitive-data-science-predict-future-sales/sales_train.csv
must-have-machine-learning-deep-learning\data\porto-seguro-safe-driver-prediction\test.csv
must-have-machine-learning-deep-learning\data\porto-seguro-safe-driver-prediction\train.csv
must-have-machine-learning-deep-learning\data\plant-pathology-2020-fgvc7\EfficientNet-B7.tar
teddynote_live/.env
kaggle_transcription/**/input/
RAG_secret_note/.env
RAG_secret_note/langchain-kr/
RAG_secret_note/PART 03 - 모델과 메모리/cache
RAG_secret_note/PART 03 - 모델과 메모리/EEVE-Korean-Instruct-10.8B-v1.0-Q4_0.gguf